/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
  color: #222;
}

body {
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* =some more defaults */
ul ul {
  margin-bottom: 0;
}

li {
  line-height: 20px;
}

ul.unstyled {
  margin-left: 0;
  list-style: none;
}

ul.inline {
  margin-left: 0;
  list-style: none;
}

ul.inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}
/* some more defaults= */

body {
  color: #FFF;
  font-family: 'Droid Sans', sans-serif;
  font-size: 18.5px;
  letter-spacing: 0.06em;
  background: black url("/images/background_pic_photocase_lic.jpg") center center fixed no-repeat;
  background-size: cover;
  z-index: 1;
}

a, a:hover, a:visited, a:active {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #3a3c3c;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .25);
}

.btn {
  display: inline-block;
  padding: 16px 32px;
  margin: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: #0089cf;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 1px #000;
     -moz-box-shadow: 0 1px 1px #000;
          box-shadow: 0 1px 1px #000;
}

.btn:hover {
  background-color: #FFF;
  -webkit-box-shadow: 0 1px 1px #3c3c3c;
     -moz-box-shadow: 0 1px 1px #3c3c3c;
          box-shadow: 0 1px 1px #3c3c3c;
}

[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 56px;
  height: 56px;
  margin-top: 1px;
  *margin-right: .3em;
  line-height: 56px;
  vertical-align: text-top;
  background-repeat: no-repeat;
}

a[class^="icon-"],
a[class*=" icon-"] {
  width: auto;
  margin-top: 0;
  padding-left: 58px;
}

.icon-video {
  background-image: url("/images/video_icon.png");
  background-position: 2px 4px;
}

ul.piped-list > li {
  padding: 0 0 0 .5em;
}

ul.piped-list > li > *:last-child {
  padding-right: .8em;
}

ul.piped-list > li:after {
  content: '|';
}

ul.piped-list > li:last-child:after {
  content: '';
}

.header {
  position: fixed;
  display: table;
  top: 0px;
  left: 0px;
  width: 100%;

  height: 24px;
  padding-top: 6px;
  padding-left: 10px;
  border-bottom: 1px solid #000;
  background-color: #0089cf;
  font-size: 12px;
  line-height: 1em;

  letter-spacing: -0em;

  z-index: 1001;
  margin-bottom: 0;
}

.header > span {
  display: inline;
  padding-left: 20px;
  color: #00293d;
  text-transform: uppercase;
}

.header > ul {
  display: inline;
  margin: 0;
  padding: 0;
}

.header > ul a {
  text-transform: lowercase;
}


.wrapper {
  background: url("/images/dotted_pattern.png") center center repeat;
  min-height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;

  padding: 20px;
  width: 705px; /* 745 */
  margin-left: -372px;
  height: 370px; /* 410 */
  margin-top: -185px;

  -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
        border-radius: 5px;
  background-color: #000;
  background-color: rgba(0,0,0,.66);
}

.headline {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 90px;
  border-top: 4px solid white;
  border-bottom: 4px solid white;
}

h1 {
  overflow: hidden;
  padding: 0;
  margin: 0;
  height: 90px;
}

h1 .ir.name {
  float: left;
  width: 431px;
  height: 70px;
  margin: 22px 0 22px 20px;
  background: transparent url(/images/eurucamp2013_logo.png) 0 0 no-repeat;
}

h1 .year {
  float: right;
  margin: 19px 20px 0 0;
  font-family: 'Droid Sans', sans-serif;
  font-weight: 300;
  font-size: 56px;
  line-height: 1em;
  letter-spacing: -0.05em; /*-1px*/
}

.content p,
.footer p {
  margin: 22px;
  font-size: 99%;
}

.footer {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 110px;
  border-bottom: 4px solid white;
  margin-top: -1em;
}

.footer .btn.register {
  float: right;
  text-transform: uppercase;
}

.photo_copyright {
  z-index: 10;
  position: fixed;
  display: table;
  bottom: 30px;
  right: 30px;

  font-size: 66%;
  text-transform: uppercase;
}

.photo_copyright ul {
  margin: 0;
}

/* ==========================================================================
   Media Queries

   ========================================================================== */
@media screen and (max-width: 705px) {
  body {
    font-size: 14px;
  }

  .header {
    position: relative;
    bottom: 0;
    display: table;
    padding: 0;
  }

  .header .follow ,
  .header .previous {
    display: none;
  }

  .box {
    position: relative;
    left: 0;
    width: 84%;
    margin: 2% auto;
    height: auto;
  }

  h1 .ir.name {
    width: 62%;
    background: transparent url(/images/eurucamp2013_logo.png) 0 0 no-repeat;
    background-size: 100%;
    margin: 22px 0 22px 20px;
  }

  h1 .year {
    float: right;
    font-size: 88%;
    line-height: 0.95em;
    letter-spacing: -0.05em; /*-1px*/
  }

  .headline {
    height: 2.65em;
  }

  .footer {
    height: 11em;
    border-bottom: 3px solid white;
  }

  .footer p {
    font-size: 82%;
  }

  .photo_copyright {
    position: relative;
    top: 5px;
    margin: 0 50% 10px;
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .headline {
    height: 1.65em;
    border-bottom: 3px solid white;
    border-top: 3px solid white;
  }
  .header .social {
    display: block;
    margin: 5px 0 0 7px;
  }

  .header > span.previous {
    padding-left: 27px;
  }

  ul.last {
    margin-left: 7px;
  }

  .footer .btn.register {
    float: left;
  }
}


 @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
 only screen and (min-resolution: 144dpi) {

 }

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

 @media print {
  * {
    background: transparent !important;
    color: #000 !important; /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */

   .ir a:after,
   a[href^="javascript:"]:after,
   a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group; /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
