body{
  background-image: url('/images/line.png');
  background-color: $gray5;
}

.content{
  text-align: center;
  i{
    color: $red;
  }
  h1{
    color: $white;
  }
  a{
    //color: $red;
    color: rgba(209,0,35,0.7);
    &:hover{
      color: rgba(209,0,35,1);
      background-color: rgba(239,239,239,0.5);
    }
  }
  h2{
    background-color: rgba(239,239,239,0.5);
  }
}

.black{
  background-image: url('/images/vert.png');
}

.home_mobile{
  background-color: rgba(0,0,0,0.7);
}

@media only screen and (max-width: 768px) {
  .black{
    background-color: $white}
}
