body{
  background-image: url('/images/line.png');
  background-color: $gray5;
}

.content{
  text-align: center;
  i{
    color: $red;
  }
  h1{
    color: $white;
  }
  p{
    //background-color: $white;

  }
}



a {
  color: $black;
  &:visited, &:active {
    color: $black; }
  &:hover {
    background: $black;
    color: white; } }

.home a:hover {
  background: white;
  color: $black; }

.back, .black, .horizontal {
  background: $black; }

.vertical h1, .horizontal h1, .vertical h1 a, .horizontal h1 a {
  color: white; }

.bottom a {
  color: white;
  &:visited, &:active {
    color: white; }
  &:hover {
    background: white;
    color: $black; } }

.projects a:hover {
  background: white;
  color: $black; }
