#speakers
  @extend %row

  ul.speakers
    +unlisted
    width: 100%
    position: relative
    text-align: center

    li
      display: block
      text-transform: uppercase
      font-size: 0.75em
      margin: 2em 0
      letter-spacing: 0.09em
      +transition(all 0.15s ease-out)

      a
        color: $gray

        &:hover
          strong
            color: $lighter-red
            +transition(all 0.15s)

      img
        width: 100px
        border-radius: 75px
        margin: 0 0 1.5em 0

      strong
        display: block
        color: $dark-gray
        +custom-sans(bold)
        +transition(all 0.15s)
        text-transform: none
        font-size: 1.25em

  &.show-details
    ul.speakers
      @extend %clearfix

      li
        width: 10%
        margin: 0 5px

        img
          width: 100%

        strong, span
          display: none

    .details
      display: block

  ul.details
    @extend %unlisted
    @extend %clearfix
    display: none
    background: $white
    border: 1px solid $lighter-gray
    padding: 1em 20px

    li
      display: none
      position: relative
      opacity: 0
      +transition(all 0.25s ease-in-out)

      &.reveal
        display: block
        opacity: 1

    a.close
      font-size: 2em
      color: $lighter-gray
      position: absolute
      top: -1.9em
      right: 0

      &:hover
        color: $gray

    .header
      text-align: center

      h3
        margin-bottom: 0

        &:after
          margin-bottom: 0.5em

      p.meta
        margin: 0
        text-align: center
        color: $gray
        font-size: 0.75em
        text-transform: uppercase

      img
        width: 100px
        border-radius: 75px
        margin: 0 auto

      p
        color: $dark-gray
        text-align: justify

    .talk
      h4
        margin-left: -0.4em

    h4
      margin: 01em 0 1.5em
      font-size: 0.9em
      +custom-sans(bold)
      text-transform: uppercase

  p.cfp-info
    background: $white
    border: 1px solid $lighter-gray
    padding: 1em 20px
    text-align: center
    +custom-sans

    a
      text-transform: uppercase
      letter-spacing: 0.09em
      +custom-sans(bold)
      color: $lighter-red
      font-size: 0.825em
      vertical-align: baseline
      +transition(all 0.25s)

      &:hover
        color: $red
        +transition(all 0.25s)


  +respond-to(smartphone-portrait)
    ul.speakers
      li
        width: percentage(1/2)
        display: inline-block


  +respond-to(smartphone-landscape)
    ul.speakers
      li
        width: percentage(1/3)


  +respond-to(tablet-portrait)
    ul.speakers
      li
        width: percentage(1/4)

        &.cfp
          span
            width: 121px
            height: 121px
            line-height: 121px

        img
          width: 125px

    ul.details
      .column
        margin: 0 20px

      .bio, .talk
        width: percentage(1/2)
        float: left

        h4
          text-align: center
          margin-left: 0

    &.show-details
      ul.speakers
        li
          width: 5%


  +respond-to(tablet-landscape)
    ul.speakers
      li
        width: percentage(1/5)


  +respond-to(desktop)
    ul.speakers
      li

        &.cfp
          span
            width: 146px
            height: 146px
            line-height: 144px

        img
          width: 150px

