%footer#footer

  = partial "partials/navigation"

  .wrapper
    .signature
      = image_tag "shared/logo@2x.png", :alt => "JRubyConf.eu logo", :class => "jrubyconf-logo"
      in cooperation with
      = image_tag "footer/jruby_logo@2x.png", :alt => "JRuby logo", :class => "jruby-logo"

    %nav.social
      %ul
        %li
          %a.twitter(href="https://twitter.com/jrubyconfeu" title="Visit JRubyConf.eu on Twitter")
            Twitter
        %li
          %a.facebook(href="https://www.facebook.com/jrubyconfeu" title="Visit JRubyConf.eu on Facebook")
            Facebook
        %li
          %a.github(href="https://github.com/eurucamp" title="Visit Eurucamp on Github")
            Github
        %li
          %a.lanyrd(href="http://lanyrd.com/2013/jrubyconf/" title="Jrubyconf at Lanyrd")
            Lanyrd


    %nav.secondary-navigation
      %ul
        %li
          %a(href="/imprint" title="View the imprint")
            Imprint
        %li
          %a(href="http://2013.eurucamp.org/codeofconduct.html" title="Jump to eurucamp.org for our policies")
            Policies
        %li
          %a(href="http://2013.eurucamp.org/team.html" title="Jump to eurucamp.org for our team")
            Team
        %li
          %a(href="http://2012.jrubyconf.eu" title="Last year's JRubyConf.eu")
            JRubyConf 2012
