%header#header
  .wrapper
    %h1
      = image_tag "shared/logo@2x.png", :alt => "JRubyConf.eu"

    %a.navigation-toggle(href="#footer" title="Jump to the navigation")
      Jump to navigation

  = partial "partials/navigation"

  .lift
    = image_tag "shared/lift_logo@2x.png", :alt => "JRubyConf Icon"
    %h2
      %strong JRubyConf is back
      %span in europe
    %p
      August 14 & 15, 2013 in Berlin
