%nav.navigation
  %ul
    - data.sections.each do |section|
      %li
        - title = data.to_h[section][:nav_title] || data.to_h[section][:title]
        %a(href="/##{section}" title="Jump to #{title}")
          = title
    %li
      %a(href="http://blog.eurucamp.org/" title="Joined blog at eurucamp.org")
        Blog
